USE [master]
GO
/****** Object:  Database [BudwegDB]    Script Date: 02-03-2026 11:23:14 ******/
CREATE DATABASE [BudwegDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BudwegDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BudwegDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BudwegDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BudwegDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BudwegDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BudwegDB]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 02-03-2026 11:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Picture] [varbinary](max) NULL,
	[Amount] [int] NULL,
	[WorkstationID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caliber]    Script Date: 02-03-2026 11:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caliber](
	[CaliberID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](80) NULL,
	[Comment] [nvarchar](255) NULL,
	[Picture] [varbinary](max) NULL,
	[ItemNumber] [int] NULL,
	[Brand] [nvarchar](80) NULL,
	[BatchID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaliberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workstation]    Script Date: 02-03-2026 11:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workstation](
	[WorkstationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionNumber] [int] NULL,
	[ArrivalDateTime] [datetime2](7) NULL,
	[DepartureDateTime] [datetime2](7) NULL,
	[StartQuantity] [int] NULL,
	[EndQuantity] [int] NULL,
	[Waste] [int] NULL,
	[WorkstationName] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkstationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Workstation] FOREIGN KEY([WorkstationID])
REFERENCES [dbo].[Workstation] ([WorkstationID])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK_Batch_Workstation]
GO
ALTER TABLE [dbo].[Caliber]  WITH CHECK ADD  CONSTRAINT [FK_Caliber_Batch] FOREIGN KEY([BatchID])
REFERENCES [dbo].[Batch] ([BatchID])
GO
ALTER TABLE [dbo].[Caliber] CHECK CONSTRAINT [FK_Caliber_Batch]
GO
USE [master]
GO
